:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary: #409EFF;
  --color-success: #67C23A;
  --color-warning: #E6A23C;
  --color-danger: #F56C6C;
  --color-info: #909399;

  --color-primary-light: #79bbff;
  --color-success-light: #95d475;
  --color-warning-light: #eebe77;
  --color-danger-light: #f89898;
  --color-info-light: #b1b3b8;

  --text-color-primary: #303133;
  --text-color-regular: #606266;
  --text-color-secondary: #909399;
  --text-color-placeholder: #a8abb2;
  --text-color-disabled: #c0c4cc;
}